{% extends 'basic_app/base.html' %}
{% load static %}
{% block content%}

    <section class="section-hero section-hero--sm section-hero--solid">
        <div class="hull">
            <div class="section__content">
                <h1>Select Teacher and view their Courses</h1>
            </div>
        </div>
    </section>

    <section class="section-boxes">
        <div class="hull">
            <ul class="boxes">
                {% for profile in teacher_profiles %}
                <li>
                    <div class="box box--member">
                        <picture class="box__image">
                            {% if profile.profile_pic %}
                             <img src="{{ profile.profile_pic.url }}" alt="this is a teacher image">
                            {% else %}
                                 <img src="{% static 'images/uchitelite.jpg' %}" alt="this is a teacher image">
                            {% endif %}
                        </picture>

                        <div class="box__body">
                            <p class="box__title h3">
                                {% if profile.user.first_name and profile.user.last_name %}
                                     Full Name:{{ profile.user.first_name}} {{ profile.user.last_name}}
                                {% else %}
                                    User Name: {{ profile.user.username}}
                                {% endif %}
                            </p>

                            <p class="box__type h5"> {{ profile.description | slice:":50" }} </p>

                        </div>

                        <div class="box__action">
                            <a href="{% url 'teacher_app:teacher_courses_list' teacher_id=profile.user.id %}" class="btn">Details</a>
                        </div>
                    </div>

                 </li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}